.page {
    font-size: 30px;
    header {
        text-align: center;
        .logo {
            margin: 50px 0 30px 0;
        }
        .ville_header {
            display: flex;
            flex-direction: row;
            border: 1px #E8E8E8 solid;
            background: #E8E8E8;
            width: 100%;
            .icone_map {
                margin-left: 600px;
                padding: 0 30px 0 0;
            }
        }  
        nav {
            border: 1px #F2F2F2 solid;
            background: #F2F2F2;
            padding: 50px 0 100px 0;
            .bouton_explorer {
                border: 1px #cccbcb solid;
                border-radius: 50px;
                box-shadow: 2px 2px 5px gray;
                width: 400px;
                height: 90px;
                background: linear-gradient(0deg, #9356DC 0%, #FF79DA 100%);
                color: white;
                font-size: 30px;
                margin-top: 20px;
            }
            p {
                color: gray;
            }
        }
    }

    .fonctionnement {
        margin: 100px 0 150px 400px;
        .fonctionnement_bloc {
            padding-top: 20px;
            .bloc {
                font-weight: bold;
                display: flex;
                flex-direction: row;
                border: 1px #F2F2F2 solid;
                border-radius: 30px;
                box-shadow: 2px 2px 5px gray;
                background: #F2F2F2;
                width: 550px;
                margin: 0 0 50px 50px;
                .transformation1, .transformation2, .transformation3 {
                    border: 1px rgb(147, 86, 220) solid;
                    border-radius: 20px;
                    background: rgb(147, 86, 220);
                    width: 35px;
                    height: 35px;
                    color: white;
                    text-align: center;
                }
                .transformation1 {
                    transform: translateX(-140px);
                }
                .transformation2 {
                    transform: translateX(-150px);
                }
                .transformation3 {
                    transform: translateX(-155px);
                }
            .icone {
                margin-left: 60px;
                margin-right: 40px;
                color: gray;
            }
            }
            .bloc:hover {
                background: rgb(245, 237, 255);
                .icone {
                    color: rgb(147, 86, 220);
                }
            }
        }
        
    }

    .restaurants {
        background: #F2F2F2;
        padding-top: 50px;
        height: 2300px;
        h1 {
            margin-left: 400px;
        }
        .menu_bloc {
            margin: 100px 0 0 460px;
            border: 1px transparent solid;
            border-radius: 30px;
            box-shadow: 2px 2px 5px gray;
            width: 600px;
            height: 430px;
            font-size: 70%;
            line-height: 0px;
            a {
                text-decoration: none;
                color: black;
            }
            .bloc_nouveau {
                position: absolute;
                color: rgb(0, 135, 102);
                border: 1px rgb(153, 226, 208);
                border-radius: 5px;
                background: rgb(153, 226, 208);
                font-weight: bold;
                width: 120px;
                height: 40px;
                text-align: center;
                margin: 20px 20px 0 460px;
            }
            img {
                border-radius: 30px 30px 0 0;
                width: 100%;
                height: 300px;
            }
            h2 {
                padding: 20px 0 0 30px;
            }
            .info_image {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                padding: 0 50px 0 30px;
                .coeur {
                    font-size: 30px;
                    margin-top: -100px;
                }
                
            }
        }
    }

    .bloc_footer {
        font-size: 20px;
        color: white;
        background: rgb(48, 48, 48);
        padding: 50px;
        .footer_logo {
            color: white;
            font-family: "Shrikhand", "cursive";
        }
        .text{
            display: flex;
            .icone {
                padding-right: 20px;
            }
        }
    }    
}

@media screen and (min-width: 320px ) and (max-width: 600px){
    .page {
        font-size: 20px;
        header {
            width: 500px;
            .ville_header {
                .icone_map {
                    margin-left: 160px;
                    padding: 0 30px 0 0;
                }
            }
            nav {
                padding-bottom: 50px;
                .texte_header {
                    .bouton_explorer {
                        font-size: 18px;
                        width: 230px;
                        height: 8    0px;
                    }
                }
            }
        }

        .fonctionnement {
            margin: 60px 0 80px 20px;
            .fonctionnement_bloc {
                
                .bloc {
                    border-radius: 20px;
                    width: 400px;
                    margin: 0 0 40px 20px;
                    .transformation1, .transformation2, .transformation3 {
                        width: 30px;
                        height: 30px;
                    }
                    .transformation1 {
                        transform: translateX(-110px);
                    }
                    .transformation2 {
                        transform: translateX(-120px);
                    }
                    .transformation3 {
                        transform: translateX(-125px);
                    }
                .icone {
                    margin-left: 50px;
                    margin-right: 30px;
                }
                }
            }
        }


        .restaurants {
            padding-top: 20px;
            height: 1450px;
            h1 {
                margin-left: 10px;
            }
            .menu_bloc {
                margin: 50px 0 0 30px;
                width: 400px;
                height: 280px;
                .bloc_nouveau {
                    width: 120px;
                    height: 30px;
                    margin: 15px 20px 0 265px;
                }
                img {
                    height: 200px;
                }
                h2 {
                    padding: 10px 0 0 20px;
                }
                .info_image {
                    padding: 0 50px 0 20px;
                    .coeur {
                        font-size: 25px;
                        margin-top: -100px;
                    }
                    
                }
            }
        }

        .bloc_footer {
            padding: 30px;
        } 
        
    }
}
