
  .heart {
    
    &__btn {
      height: 33px;
      width: 33px;
      background-color: transparent;
      border: transparent 0px solid;
      padding: 0;
      display:flex;
      align-items:center;
      justify-content:center;
      cursor: pointer;
      position: relative;
      background-color: black;
      
      &:hover::before {
        opacity: 1;
      }

      
      &::before {
        opacity: 0;
        transition: 0.5s;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background:linear-gradient(0deg, #9356DC 0%, #FF79DA 100%);
      }
    }

    p {
      color: red;
    }
  
    &__like {
      transition-duration: .25s;
      background-color: #f6f6f6;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      display:flex;
      align-items:center;
      justify-content:center;
      mix-blend-mode: lighten;
    }
  
    &__btn:hover {
      .menu__like {
        &--sans_background {
          opacity: 0;
        }
      }
    }
  }
  

  
  
  
  